@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*селекторы по сетке*/
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.index-box {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;

}

.page-header .hero {
  margin-left: 70px;
  z-index: 1;
}

.nav-logo {
  display: block;
  margin-bottom: -6px;
}

.navigation-list {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style-type: none;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-link {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: left;
  padding: 20px 16px;
  display: block;
}

.navigation-user {
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
  list-style-type: none;
  max-width: 300px;
  display: flex;
  align-items: center;
}

.search-item {
  background-image: URL(../img/search_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.favorites-item {
  position: relative;
  background-image: URL(../img/heart_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.favorites-numbers {
  position: absolute;
  font-family: "PT Sans";
  font-style: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7DB54F;
  padding: 5px;
  border-radius: 50%;
  top: 11px;
  left: 19px;
}

.jump-button {
  background-color: #756157;
  border-radius: 4px;
  border: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  padding: 8px 34px;
}

.text-button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.navigation-user .search-button,
.navigation-user .heart-button {
  margin: 0;
  padding: 0;
  min-width: 44px;
  min-height: 64px;
}

.navigation-item,
.user-icon,
.advantages-item,
.social-item {
  list-style-type: none;
}

.social-icon {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  min-width: 47px;
  color: #83B3D3;
}

.navigation-item-current {
  text-decoration: underline 2px #756257;
  text-underline-offset: 21px;
}

.social-item {
  padding: 0;
  margin: 0;
  min-width: 47px;
  min-height: 40px;
  align-items: center;
}

.button-view-item,
.catalog-hotel-cards-item,
.pagination-item,
.rating-stars {
  list-style-type: none;
}

.rating-result {
  width: 96px;
}

.main-container {
  flex-grow: 1;
}

.banner-sedona {
  margin: 0;
  padding: 0;
  position: relative;
}

.banner-sedona::after {
  position: absolute;
  content: url(../img/vector_white.svg);
  width: 1200px;
  left: 0;
  bottom: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
}


.hero-lettering {
  position: absolute;
  top: 51px;
  left: 371px;
}

.hero-text,
.agitation-text,
.question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.question {
  margin: 0;
  padding: 0 70px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-data {
  margin: 0;
  margin-top: 20px;
  padding: 0 70px;
  margin-bottom: 54px;
}

.hero-text {
  margin: 0 auto;
  padding: 0;
  margin-top: 69px;
  margin-bottom: 25px;
}

.reason-hero-text {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 69px;
  color: inherit;
}

.hello {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.reason-hero-text,
.reason-text,
.search-data,
.text-news {
  font-size: 22px;
  line-height: 26px;
}

.reason-text {
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
}


.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.text-block {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}


.housing::before {
  position: absolute;
  content: url(../img/housing_icon.svg);
  width: 75px;
  height: 72px;
  left: 50%;
  margin-left: -37px;
  top: -102px;
}

.food-class::before {
  position: absolute;
  content: url(../img/food-icon.svg);
  width: 75px;
  height: 72px;
  left: 50%;
  margin-left: -37px;
  top: -101px;
}

.souvenir-class::before {
  position: absolute;
  content: url(../img/souvenir-icon.svg);
  width: 75px;
  height: 72px;
  left: 50%;
  margin-left: -37px;
  top: -104px;
}

.offer-text {
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  align-items: center;
  justify-content: center;
}

.advantages-item-1 {
  box-sizing: border-box;
  padding: 81px 85px;
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-image {
  object-fit: cover;
  min-height: 385px;
}

.advantages-item-wide {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-wide-reverse {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  flex-direction: row-reverse;
  color: #FFFFFF;
}

/* Блок псевдоклассов*/

.advantages-item:nth-child(2n):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3n):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-1:nth-child(2n):not(:last-child) {
  background-color: #FFFFFF;
}

.good-list {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  text-align: center;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.uppercase,
.text-uppercase {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.uppercase {
  margin: 0 auto;
  padding: 0;
  max-width: 175px;
}

.black {
  color: #000000;
}

.text-uppercase {
  color: #000000;
  position: relative;
  margin: 0;
  margin-top: 102px;
}

.text-uppercase::after {
  color: #000000;
}

.offer-text {
  margin: 0;
  margin-top: 30px;
}

.news {
  padding: 0;
  margin: 0;
  margin-top: 96px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.block-button-news {
  margin: 0;
  padding: 0;
  margin-bottom: 104px;
}

.new-search-hotel {
  padding: 0;
  margin: 0;
  padding: 8px 50px;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.phone-number {
  margin: 0;
  margin-left: 178px;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.text-uppercase {
  vertical-align: center;
}

.social-list {
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
  width: 200px;
  display: flex;
  flex-wrap: wrap;

}

.html-logo {
  padding: 0;
  margin: 0;
  margin-left: auto;
  max-width: 115px;
  padding: 0;
}

.heart-button,
.search-button {
  border: none;
  background: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages,
.agitation-theme,
.search-hotel,
.newsletters {
  text-align: center;
}

.agitation-theme {
  background-color: #FFFFFF;
  padding-top: 64px;
}

.agitation-text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Селекторы по странице каталога */

.sedona-hotels {
  margin-top: 0;
  padding: 0;
  margin-bottom: 8px;
  min-width: 495px;
  min-height: 78px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  text-align: left;
}

.home-icon {
  width: 12px;
  height: 12px;
}

.bread-crubs {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.bread-crubs:not(:first-child)::before {
  content: "";
  display: inline-block;
  top: 0;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
}

.main-catalog {
  flex-grow: 1;
}


.filter-hotels {
  padding: 0;
  padding: 35px 70px 70px 70px;
  margin: 0;
  min-height: auto;
  background-image: url(../img/banner-sedona.jpg);
  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-content {
  padding: 0;
  margin: 0;
  max-width: 1060px;
  min-height: 307px;
}

.bread-crubs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.group-flex-container {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.group-flex {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 160px;
}

.group-checkbox {
  min-width: 150px;
  margin: 0;
  padding: 0;
  text-align: left;
  display: inline-block;
  gap: 16px;
}

.filter-list,
.filter-radio {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.filter-list-item,
.filter-radio-item {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.right-gap,
.radio-control {
  padding: 0;
  margin: 0 16px 0 0;
}

.group-radio {
  min-width: 151px;
  margin: 0;
  padding: 0;
  text-align: left;
  display: inline-block;
}

.sorting-form {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 70px 0 70px;
}

.group-button {
  margin: 0;
  margin-left: 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.price-range {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 549px;
  min-height: 160px;
}

.group-price {
  margin: 0;
  padding: 0;
  min-width: 288px;
  display: inline-block;
}

.button-view-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.sorting-price {
  min-width: 292px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sorting-block {
  margin: 0;
  padding: 0;
  margin-left: auto;
  width: 522px;
  min-height: 49px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.catalog-hotel-cards {
  margin: 40px auto 0;
  padding: 0;
  width: 1060px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.catalog-hotel-cards-item {
  background-color: #FFFFFF;
  border-radius: 4px;
  border: solid 1px #E6E6E6;
  padding: 20px;
  width: 340px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: min-content min-content min-content min-content;
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-catalog-image {
  display: block;
  object-fit: cover;
}

.link-image {
  text-decoration: none;
  grid-column: 1/-1;
}

.transfer-hotels {
  line-height: 16px;
  color: #FFFFFF;
}

.advantages-hotels-type,
.filter-hotels-type {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  margin-right: 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.checkbox-list-item,
.hotels-type-item {
  line-height: 23px;
  color: #FFFFFF;
}

.checkbox-list-item {
  margin: 0;
  padding: 0;
}

.price {
  line-height: 24px;
  text-align: right;
}

.card-link {
  display: block;
  text-decoration: none;
  padding: 8px 26px;
}

.brown {
  background-color: #756157;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.min-price-type,
.max-price-type {
  width: 143px;
  height: 48px;
  border-radius: 4px;
  background-color: #F2F2F2;
  color: inherit;
  border: none;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.button-price {
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
}

.filter-hotel-start {
  margin: 0;
  padding: 8px 50px;
  margin-top: 55px;
  margin-bottom: 40px;
  background-color: #82B3D3;
  min-width: 191px;
  min-height: 36px;
  border-radius: 4px;
  border: none;
}

.filter-hotel-reset {
  min-width: 191px;
  min-height: 36px;
  outline: none;
  border: 0;
  background: transparent;
}

.min-price-type:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.range-slider {
  color: #FFFFFF;
  width: 226px;
}

.catalog-hotels {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  background-color: #FFFFFF;
  width: auto;
}

.hotel-name {
  margin: 0;
  margin-top: 16px;
  text-align: left;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.catalog-hotels .search {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-price {
  border: Solid #E5E5E5 2px;
  border-radius: 4px;
  min-width: 292px;
  min-height: 49px;
}

.hotel-table-card-view {
  background-color: #FFFFFF;
  border: Solid #000000 2px;
  border-radius: 4px;
  min-width: 48px;
  min-height: 48px;
  box-sizing: border-box;
}


.view-table-item {
  background-image: url(../img/catalog-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.view-one-item {
  background-image: url(../img/list-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.view-list-item {
  background-image: url(../img/card-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.link-text {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
}

.type-hotel,
.link-text {
  text-align: left;
}

.type-hotel,
.price {
  margin: 0;
  padding: 0;
  color: #333333;
}


.favorites-button {
  min-width: 140px;
  min-height: 36px;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #333333;
  border: none;
  border-radius: 4px;
}

.start-info {
  min-width: 140px;
  min-height: 36px;
  border-radius: 4px;
  border: none;
}

.start-info {
  background-color: #756157;
}

.favorites-button {
  background-color: #82B3D3;
}

/*При нажатии на ИЗБРАННОЕ кнопка меняет цвет на зеленый, как в макете*/
.favorites-button:active {
  background-color: #7DB54F;
}


.rating-hotel-text {
  background-color: #F2F2F2;
  height: auto;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 9px 22px 8px 23px;
}

.span-rating {
  display: block;
  height: 18px;
  background-image: url(../img/star.svg);
  background-repeat: space;
  align-self: center;
}

.four-stars {
  width: 85px;
}

.three-stars {
  width: 70px;
}

.two-stars {
  width: 50px;
}

.pagination-list {

  margin: 80px auto 0;
  padding: 0;
  width: 1060px;
  list-style-type: none;
  display: flex;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.fall-number {
  padding-top: 17px;
  width: 17px;
  height: 22px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

.pagination-number,
.pagination-number-active {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;

}

.pagination-number {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.pagination-number-active {
  background-color: #F2F2F2;
  color: #000000;
}

.page-footer {
  margin: 0;
  padding: 45px 70px 35px 70px;
  background-color: #FFFFFF;
}

.footer-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.vkontakte {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 12px 12px;
}

.telegram {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 12px 13px;
}

.youtube {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 12px 13px;
}

.search-hotel {
  background-color: #FFFFFF;
  padding-top: 96px;
  padding-bottom: 96px;
}

.newsletters-form .field {
  margin: 0;
  padding: 0;
  width: 452px;
  padding: 14px 0px 14px 20px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
  line-height: 24px;
}

.newsletters-form {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}


.newsletters-button {
  padding: 0;
  margin: 0;
  padding: 8px 50px;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
}

.newsletter {
  padding: 0;
  margin: 0;
  width: 1200px;
}

.newsletters-background {
  margin: 0;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  min-height: 214px;
  display: flex;
  flex-direction: column;

  background-color: #82B3D3;
  background-image: url("../img/blur_banner.jpg");
  background-repeat: no-repeat;
}

.news-button {
  text-transform: uppercase;
}

.text-news {
  padding: 0;
  margin: 0;
  padding-bottom: 54px;
  color: #FFFFFF;
}

.newsletters-background-fall {
  margin: 0;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  min-height: 214px;
  display: flex;
  flex-direction: column;

  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dark-theme {
  color: #000000;
}

.dark-theme-second {
  color: #333333;
}
